.div1 {
    /*propriedades decorativas*/
    border: solid 1px black;
    display: inline-block;
    font-size: 32px;
    font-family: arial;
    /*propriedades que fazem o "Problema*/
    width: 100px;
    height: 110px;
    overflow:hidden;

}

.ee{
    border-top: solid 5px red;
    border-right: solid 10px cyan;
    border-left: solid 7px green;
    border-bottom: solid 12px yellow;
    
    border-radius: 10px;

    /*faz um cirulo 
    border radius:100%;*/
}
.ex{
    width: 100px;
    height: 100px;
    margin: 5px 8px;
    padding: 6px 9px;
    border: dotted;
    overflow: scroll;
}
.ped{
    display: inline;
    background-color: yellow;

}
span{
    display: inline-block;
    background-color: grey;
}

.ed{
    font-size: 35px;
}
div {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.azul {
    border: solid 4px blue;
    background-color: lightblue;
}
.amarelo {
    border: solid 4px red;
    background-color: yellow;
    position: relative;
    top: 20px;
    left: 80px;
}
